@import "tailwindcss";

@theme {
    --font-primary: "Poppins", sans-serif;
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --color-light: royalblue;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    .wrapper {
        max-inline-size: 1300px;
        margin-inline: auto;
        padding-inline: 1rem;
    }
}
